// Colors variable css

$white: hsl(0, 0%, 100%);
$primary-color: hsl(267, 66%, 60%);
$secondary-color: hsl(317, 100%, 74%);
$tertiary-color: hsl(165, 56%, 74%);
$background-color: hsl(0, 0%, 92%);
$background-color-light: hsl(0, 0%, 96%);
$black-color : hsl(0, 0%, 0%);
$grey-color: hsl(0, 0%, 50%);
$background-footer: #353535;



